#searchTextField{
    margin: 10px;
    width: 400px;
}
.mySpots{
    margin: 10px;
}
.spot{
    margin: 5px;
    cursor: pointer;
}
.spot:hover{
    color: blue;
}
#map_canvas{
    width: 800px;
    height: 500px;
    margin: 10px;
    float: right;
}