body{
    /*This is a fix for http://stackoverflow.com/questions/12962120/jquery-ui-transfer-effect-misses-target*/
    position: static;
}

.joyride-tip-guide {    
    padding-bottom: 10px;
    .joyride-next-tip {
        vertical-align: middle;
        float: right;
        border: 0;
        
        &:hover {
            border: 0 !important;
            text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
            -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
            -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
        }
    }
    .joyride-content-wrapper{        
        .tourStepOfTotal{
            float: right;
            vertical-align: middle;
            padding-right: 15px;
            padding-top: 6px;
        }
    }    
    h3 { 
        margin-right: 4px;
    }
    span.joyride-nub.topRight{
        border-color: #000;
        border-color: rgba(0,0,0,0.8);
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        top: -28px;
        bottom: none;    
        left: auto;
        right: 28px;
    }
}
