@colorBlue: #0088cc;
@colorLinkHover: #005580;
@colorLightGray: #ccc;
@colorVeryLightGray: #eee;
@colorWhite: white;
@mapHeight: 400px;
@imagesPath: '../images/';

body{
    background: @colorVeryLightGray url("@{imagesPath}bg.jpg");
}

#searchTextField{
    display: none;
    width: 400px;
}
#searchMySpots{
    width: 47%;
}
.mySpots{
    overflow-y: auto;
    background-color: @colorWhite;
}
.spot{
    padding: 5px;
    cursor: pointer;
    &:hover{
        background-color: @colorBlue;
        color: @colorWhite;
    }
    .edit{
        color: @colorWhite;
        width: 20px;
        display: inline-block;
        float: right;
        padding-right: 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}
#map_canvas{
    width: 500px;
    
}
.columns {
    margin: auto;
    td{
        vertical-align: top;
    }
}
#map_canvas, .mySpots{
    height: @mapHeight;
    border: 1px solid @colorLightGray;
}
.instructions{
    padding: 20px;
}
#editSpotFormDiv{
    display: none;
    padding: 20px;
    form{
        margin-bottom: 0;
    }
    input[type="text"], textarea{
        width: 400px;
    }
    .tagsinput{
        background-color: @colorWhite;
    }
}

#mainContent{
    padding: 20px;
}


.fillInTheBlank{
    border-bottom: 1px solid black;
    font-family: 'Kaushan Script', cursive;
}
h1{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    margin: 0;
    /*text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);*/
}
header{
    background-color: @colorWhite;
    border-bottom: 1px solid @colorLightGray;
    text-align: center;
    a{
        float: left;
        font-family: 'Kaushan Script', cursive;
        font-size: 14px;
        padding: 5px;
    }
    .userCorner{
        float: right;
        display: inline-block;
        #signOut{
        }
        #userPhoto{
            border: 0;    
            height: 30px;
        }
    }
}

#tagsContainer{
    @lh: 29px;
    vertical-align: top;
    display: inline-block;
    width: 48%;
    label{
        line-height: @lh;
        display: inline;
        margin-left: 6px;
        cursor: default;
    }
    #tags{
        vertical-align: top;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        height: @lh;
        width: auto;
        span{
            cursor: pointer;
        }
    }
    .selectedTagFilter{
        font-weight: bold;
    }
}
.ui-menu{
    background: @colorWhite;
    border: 1px solid @colorLightGray;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.popover-content{
    min-width: 200px;
}

.editPopup{
    display: inline-block;
    float: right;
    color: @colorBlue;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus {
        color: @colorLinkHover;
        text-decoration: underline;
    }
    &:hover, &:active {
        outline: 0;
    }
}

@import-once "jquery.tagsinput.less";
/*@import-once "joyride.less";*/
@import-once "zocial.less";