@colorBlue: #0088cc;
@colorLightGray: #ccc;
@colorVeryLightGray: #eee;
@colorWhite: white;
@mapHeight: 400px;

#searchTextField{
    display: none;
    width: 400px;
}
#searchMySpots{
    width: 47%;
}
.mySpots{
    overflow-y: auto;
}
.spot{
    padding: 5px;
    cursor: pointer;
    &:hover{
        background-color: @colorBlue;
        color: @colorWhite;
    }
    .edit{
        color: @colorWhite;
        width: 20px;
        display: inline-block;
        float: right;
        padding-right: 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.left, #map_canvas{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
#map_canvas, .mySpots{
    height: @mapHeight;
    border: 1px solid @colorLightGray;
}
.instructions{
    padding: 20px;
}
#editSpotForm{
    display: none;
    input[type="text"], textarea{
        width: 400px;
    }
}

#mainContent{
    display: none;
    padding: 20px;
}


.fillInTheBlank{
    border-bottom: 1px solid black;
    font-family: 'Kaushan Script', cursive;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
header{
    /*background-color: @colorVeryLightGray;
    border-bottom: 1px solid @colorLightGray;*/
    text-align: right;
    a{
        float: left;
        font-family: 'Kaushan Script', cursive;
        font-size: 14px;
        padding: 5px;
    }
    #signOut{
        display: none;
    }
    #userPhoto{
        display: none;
        border: 0;    
        height: 30px;
    }
}

#tagsContainer{
    @lh: 29px;
    vertical-align: top;
    display: inline-block;
    width: 48%;
    label{
        line-height: @lh;
        display: inline;
        margin-left: 6px;
    }
    #tags{
        vertical-align: top;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        height: @lh;
        span{
            cursor: pointer;
        }
    }
    .selectedTagFilter{
        font-weight: bold;
    }
}
.ui-menu{
    background: @colorWhite;
    border: 1px solid @colorLightGray;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

@import-once "jquery.tagsinput.less";
@import-once "zocial.less";